.banner-index {
    position: relative;
    background: url('../images/banner/banner.png') no-repeat;
    background-size: cover;
    font-size: 18px;
}

section#banner-index h2:before, #banner-index h1:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    border-top: 0px solid #bd945f;
}

#banner-index .carousel-item {
    position: relative;
}

#banner-index .box {
    font-size: 16px;
    padding: 8em 4em 25% 4em;
    text-align: left;
    z-index: 999;
}

#banner-index h1, #banner-index h2 {
    font-family: Gotham-Ultra;
    text-align: left;
    font-size: 2.0em;
    color: #2c2e53;
    margin-bottom: .5em;
}

    #banner-index h1 > span, #banner-index h2 > span {
        color: #bd945f;
        font-family: Gotham-Ultra;
    }

#banner-index p {
    width: 60%;
    text-align: justify;
    margin-bottom: 2em;
    font-size: 1em;
    color: #000;
}

#banner-index .content a {
    display: inline-block;
    padding: .8em 1.5em .6em 1.5em;
    background: #bd945f;
    color: #fff;
    font-size: 1em;
    margin-left: 0;
}
#banner-index .banner-item{
    position:relative;
}
#banner-index .banner-caption{
    margin:10px 15%;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
}
.banner .slick-next {
    right: 25px !important;
}

.banner .slick-prev {
    left: 25px !important;
}
.slick-prev,
.slick-next {
    z-index: 9;
}
.banner .slick-arrow:before {
    color: #bd945f;
    font-size: 24px;
}
/* Arrows */
.carousel-control-prev,
.carousel-control-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

    .carousel-control-prev:hover,
    .carousel-control-prev:focus,
    .carousel-control-next:hover,
    .carousel-control-next:focus {
        color: transparent;
        outline: none;
        background: transparent;
    }

        .carousel-control-prev:hover:before,
        .carousel-control-prev:focus:before,
        .carousel-control-next:hover:before,
        .carousel-control-next:focus:before {
            opacity: 1;
        }

    .carousel-control-prev.slick-disabled:before,
    .carousel-control-next.slick-disabled:before {
        opacity: .25;
    }

    .carousel-control-prev:before,
    .carousel-control-next:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.carousel-control-prev {
    left: 25px;
}

[dir='rtl'] .carousel-control-prev {
    right: -25px;
    left: auto;
}

.carousel-control-prev:before {
    content: '←';
}

[dir='rtl'] .carousel-control-prev:before {
    content: '→';
}

.carousel-control-next {
    right: 25px;
}

[dir='rtl'] .carousel-control-next {
    right: auto;
    left: -25px;
}

.carousel-control-next:before {
    content: '→';
}

[dir='rtl'] .carousel-control-next:before {
    content: '←';
}


.category {
    position: relative;
    font-size: 16px;
    padding: 0 2em 2em 2em;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin: -7em 0 3em 0;
    z-index: 1;
}

.category-item {
    width: 25%;
    text-align: center;
    margin: 1em 0em;
}

    .category-item .img {
        margin-bottom: 1em;
        height: 9em;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .category-item img {
        max-width: 8em;
    }

    .category-item p {
        color: #2c2e53;
        font-family: Gotham-Ultra;
        margin: 0;
    }

.box-product {
    font-size: 16px;
}

    .box-product .product-slider {
        margin-bottom: 2em;
    }

    .box-product .slick-arrow:before {
        color: #bd945f;
        font-size: 24px;
    }

    .box-product .slick-prev {
        left: -30px;
    }

    .box-product .slick-next {
        right: -25px;
    }

section h2, .box-news h1 {
    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;
    color: #2c2e53;
    margin-bottom: 50px;
    position: relative;
}

    section h2:before, .box-news h1:before {
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 160px;
        /* height: 42px; */
        border-top: 7px solid #bd945f;
    }

.about-us {
    padding: 100px 0 32px 0;
    background-image: url('../images/AnhCat/ve-chung-toi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

    .about-us:before {
        position: absolute;
        /* content: ''; */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0000009c;
    }

    .about-us h2 {
        color: #fff;
        margin-bottom: 60px;
    }

        .about-us h2:last-of-type {
            margin-top: 60px;
        }

    .about-us h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
    }

    .about-us p {
        /* font-family: "Gotham-thin"; */
        color: #fff;
        font-size: .85rem;
        text-align: justify;
        line-height: 1.5rem;
    }

    .about-us .list-image {
        display: flex;
        align-items: flex-end;
    }

    .about-us ul li {
        width: calc(25% - 9px);
    }

    .about-us ul {
        width: 100%;
        margin: 0;
    }

.reason-item {
    background: #fff;
    font-size: 16px;
    margin-bottom: 2em;
}

    .reason-item .content {
        padding: 2em;
    }

        .reason-item .content .title {
            font-size: 1.4em;
            font-family: Gotham-Ultra;
            color: #bd945f;
            margin: 0;
        }

        .reason-item .content .desc {
            font-size: .8em;
            margin: 0;
            color: #565555;
        }

    .reason-item img {
        width: 3.5em;
    }

    .reason-item .img {
        display: flex;
        align-items: center;
        padding: 0 0 0 2em;
    }

.partner-slider, .product-slider {
    padding: 0 24px;
}

    .product-slider .product {
        padding: 1em .8em 0.5em .8em;
    }

.news {
    font-size: 16px;
    padding: 6em 0 2em 0;
    background: #fff;
}

    .news .box {
        position: relative;
    }

        .news .box > .img img {
            height: 450px;
        }

    .news .main-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #bd945f;
        padding: 1.5em;
    }

        .news .main-content a {
            color: #fff;
        }

    .news li {
        margin-bottom: 16px;
    }

        .news li img {
            width: 8em;
            height: 7.5em;
        }

    .news .content {
        padding: 0 0 0 1em;
    }

    .news a {
        color: #bd945f;
    }

    .news .title {
        margin-bottom: .5em;
        line-height: 1.2em;
    }

        .news .title a {
            font-size: 1.1em;
        }

    .news .content .title a {
        font-size: 0.8em;
        line-height: 13px;
    }

    .news .desc {
        /* font-family: Gotham-Thin; */
        font-size: 13px;
        text-align: justify;
        line-height: 1em;
        margin: 0;
        color: #7d7c7c;
    }

        .news .desc > p {
            /* font-family: Gotham-Thin; */
            font-size: 13px;
            text-align: justify;
            line-height: 1em;
            margin: 0;
            color: #0000009c;
        }

/* .sub-news-content {
    /* color: #000 !important; */


.news .see-more {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 1em;
    display: inline-block;
}

.partner {
    padding: 60px 0 60px 0;
    background: #fff;
}

.partner-slide .img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-slide img {
    /* height: 144px; */
    /* max-width: 90%; */
    margin: auto;
}

.contact {
    padding: 8em 0 6em 0;
    background: url('../images/banner/lienhe-bg.jpg') no-repeat center;
    background-size: cover;
}

    .contact.contact-index input {
        border: 0;
    }

    .contact h2 {
        margin: 0 0 0 2em;
        text-align: left;
        text-transform: unset;
        color: #fff;
        font-size: 1.5em;
        font-family: "Gotham-Medium";
    }

        .contact h2:before {
            left: 0;
            transform: translateX(0);
            border-color: #fff;
        }

    .contact input, .contact button {
        padding: 18px 24px;
        border: 0;
        background: #fff;
        color: #292a45;
    }

        .contact input::placeholder {
            color: #292a45;
        }

    .contact button {
        width: 20%;
        /* margin: 0 0 0 32px; */
    }

    .contact input {
        width: 70%;
    }

.contact-index span {
    position: absolute;
    margin-top: -277px;
}

.all-product .img {
    height: calc( 100vh - 120px );
}

.all-product img {
    height: 100%;
}

@media only screen and (max-width: 1199px) {

    .banner-index {
        font-size: 16px;
    }

    .reason-item {
        height: 7em;
    }

    .all-product .img {
        height: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .banner-index {
        font-size: 14px;
    }

        .banner-index .box {
            padding: 8em 2em;
        }

    .category-item {
        width: calc(100% / 3);
    }

    .reason-item {
        font-size: 14px;
    }

        .reason-item .content .desc {
            font-size: 1em;
        }

        .reason-item img {
            width: 3em;
        }

        .reason-item .content {
            padding: 1.5em;
        }

    .news li {
        margin: 1em 0;
    }

    .contact h2 {
        font-size: 1.4em;
        margin: 0;
    }

    .contact {
        padding: 5em 0 3em 0;
    }

    .about-us h3 {
        margin-top: 32px;
    }

    #banner-index .box {
        font-size: 14px;
        padding: 4em 1em 15% 1em;
    }


    #banner-index p {
        width: 80%;
        text-align: justify;
        margin-bottom: 1em;
    }

    #banner-index .banner-caption {
        margin: 10px 8%;
    }
}

@media only screen and (max-width: 767px) {
    .banner-index .box {
        padding: 4em 2em;
    }

    .banner-index h1 {
        font-size: 1.8em;
    }

    .banner-index p {
        width: 80%;
        margin-bottom: 1.5em;
    }

    .banner-index a {
        font-size: .8em;
    }

    .contact h2 {
        margin: 0 0 1em 0;
    }

    .reason-item {
        height: auto;
    }

    .partner {
        padding: 32px 0;
    }

    .category {
        font-size: 14px;
    }

    .category {
        margin: -2em 0 4em 0;
    }

    .news {
        padding: 2em 0 1em 0;
    }

    #banner-index .box {
        font-size: 10px;
        padding: 6em 1em 10% 1em;
    }

    #banner-index p {
        width: 80%;
        text-align: justify;
        margin-bottom: 1em;
    }

    #banner-index .banner-caption {
        margin: 10px 8%;
    }
}

@media only screen and (max-width: 575px) {
    .banner-index {
        font-size: 10px;
    }

        .banner-index .box {
            padding: 6em 0 6em 2em;
        }

    .category-item {
        width: 50%;
    }

        .category-item img {
            max-width: 6em;
        }

    section h2, .box-news h1 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .about-us {
        padding: 50px 0 16px 0;
    }

        .about-us h2:last-of-type {
            margin-top: 0;
        }

    .news .main-content {
        padding: .5em;
    }

    .news li {
        flex-wrap: wrap;
    }

        .news li img, .news li .img {
            width: 100%;
            margin-bottom: 4px;
        }

    .news .content {
        width: 100%;
        padding: 0;
        margin-bottom: 8px;
    }

    .news .see-more {
        margin-top: 0;
        font-size: 1em;
    }

    .news .desc > p {
        color: #0000009c;
    }

    .contact.contact-index input {
        border: 0;
    }

    .contact {
        padding: 2em 0 1em 0;
    }

        .contact h2 {
            margin: 0 0 16px 0;
        }

        .contact input, .contact button {
            padding: 9px 12px;
            margin: 8px 0 0 0;
        }

        .contact input {
            width: 100%;
        }

        .contact button {
            width: 120px;
        }

    #banner-index .box {
        font-size: 8px;
        padding: 4em 1em 5% 1em;
    }

    #banner-index p {
        width: 80%;
        text-align: justify;
        margin-bottom: 1em;
    }

    #banner-index .banner-caption {
        margin: 10px 7%;
    }
}

@media only screen and (max-width: 575px) {
    #banner-index .box {
        font-size: 7px;
        padding: 4em 2em 2% 2em;
    }

    #banner-index p {
        width: 70%;
        text-align: justify;
        margin-bottom: 1em;
    }
    #banner-index .banner-caption {
        margin: 10px 5%;
    }
}
